.buttons-calendars {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  // justify-self: left;  
  // margin-bottom: 15px;
}
.button-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon {
  width: 35px;
  height: 45px;
  fill: rgb(21, 21, 22);
  &:hover {
      fill: rgb(139, 139, 142);
  }  
  &:active {
    fill: rgb(30, 31, 30);
  }
}
.icon-prev {
  transform: rotate(180deg);
}


.button__result {
  grid-column: 3 / 4;
  justify-self: right;
  box-sizing: border-box;
  font-size: 22px;
  background-color: rgb(61, 64, 65);
  color: rgb(154, 151, 151);
  border: none;
  border-radius: 5px;
  max-width: 250px;
  padding: 10px 15px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 40px;
  cursor: pointer;

  &:hover {
    background-color: rgb(35, 35, 36);
    color: white;
    transform: scale(1.05);
  }

  &:active {
    background-color: rgb(30, 30, 31);
    color: white;
    transform: scale(0.95);
  }
}

@media (max-width: 440px) {
  .buttons-calendars {
    margin-right: auto;
  }
}