.footer {
  background-color: rgba(33, 33, 34);
  box-shadow: -1px 23px 24px -5px rgba(34, 60, 80, 0.6) inset;
}

.footer__wrapper {
  padding: 40px 0;
}

.autor {
  font-size: 18px;
  text-align: right;
  font-weight: bolder;
  color: rgba(166, 164, 164, 0.5)
}