.header {
  background-color: rgba(33, 33, 34, 0.5);
  box-shadow: -1px 23px 24px -5px rgba(34, 60, 80, 0.6) inset;
  }
 


.header__wrapper {
  padding: 30px 0;
}

.header__title {
  text-align: center;
  font-size: 34px;
  font-style: oblique;
  color: rgba(23, 23, 23, 0.5);
  margin-bottom: 30px;
}